.DS_Store
.idea
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini
node_modules/
dist/
build/
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
*.orig
*.pyc
__pycache__/
.env
.venv/
.vscode/
.history/
coverage/
*.sqlite3
*.db
*.iml
*.class
*.jar
*.war
*.exe
*.dll
*.out
*.o
*.so
*.a
*.dSYM/
*.ipynb_checkpoints/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
/.cache/
/.pnp
/.pnp.js
/.next/
/.nuxt/
/.expo/
/.parcel-cache/
/.sass-cache/
/.eslintcache
/.turbo/
/.output/
/.firebase/
/.serverless/
/.vercel/
/.netlify/
/.tmp/
tmp/
